table, th, td { 
        border: 1px solid black;
        border-collapse: collapse;
        }
div.SideBar{
        text-indent:0.5in;
        text-align:right;
        }
/* (your orginal format is wirid, I guess you might mean this format, if you need it just delete the comment sign) 
div.SideBar{
        text-indent:0in;
        text-align:left;
        position: absolute;
        left:5.5in;
        top: 3in;
        }
*/
div.Head{
        text-indent:0.5in;
        text-align:center;
        }
div.Body{
        text-indent:0.5in;
        text-align:left;
        }
