body {
    font-family: Arial, sans-serif;
    background-image: url('SGW_building_pic.png'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff; /* White background for content to stand out over body background */
    border: 1px solid #ccc;
    padding: 10px;
}
#header {
    background-color: #d8bfd8; /* Light purple */
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.content-wrapper {
    display: flex;
    margin-top: 10px;
}

.post-footer {
    font-size: 0.8em;
    color: #666;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}

#SideBar {
    flex: 1;
    padding: 10px;
    background-color: #ebe1e1;
    border-left: 1px solid #ccc;
}

#SideBar ul {
    list-style: none;
    padding: 0;
}

#SideBar a {
    color: blue; /* blue links */
    text-decoration: none;
}
#SideBar a:hover {
    text-decoration: underline;
}

#footer {
    background-color: #d8bfd8; /* Light purple */
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}


table, th, td { 
        border: 1px solid black;
        border-collapse: collapse;
        }

